table {
    margin: 40px auto;
    width: 80%;
    text-align: center;
}

td {
    text-align: center;
    padding-bottom: 25px;
}


td img {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    padding: 6px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    transition: transform 0.2s;
}

td img:hover {
    transform: scale(1.05);
}


.buy-btn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #ff9900;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.buy-btn:hover {
    background-color: #e68a00;
    transform: translateY(-2px);
}


.colorful-tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    margin-top: 8px;
    background: linear-gradient(90deg, #ff9900, #ffcc66);
    color: #111;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}


thead th {
    font-size: 1.7rem;
    color: #ff9900;
    font-weight: bold;
    padding-bottom: 10px;
}


body {
    background-color: #fafafa;
}

table:hover {
    transform: scale(1.01);
    transition: 0.2s ease-in-out;
}

h2{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #e68a00;
}
