.topnav a.active-cart{
  background-color: orange;
}

.cart-box {
  max-width: 400px;
  padding: 20px;
  margin-left: auto;    
  margin-right: 20px;  
}

.cart-list {
  background: lightgray;
  border-radius: 8px;
  padding: 20px;
}

.cart-item {
  padding: 22px 0px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.item-price {
  font-weight: bold;
  color: rgb(215, 142, 6);
}

.cart-total {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 13px;
  border-radius: 8px;
  border: 3px solid orange;
}
